@import "tailwindcss";

:root {
  --background: #ffeb00;
  --foreground: #111111;
  --required-badge: #e84119;
  --card-highlight: #fff3a6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-required-badge: var(--required-badge);
  --color-card-highlight: var(--card-highlight);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.input-no-spinner {
  -moz-appearance: textfield;
}
.input-no-spinner::-webkit-outer-spin-button,
.input-no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
